body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'VT323', monospace;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin: -150px auto 0 auto;
    width: 500px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 20px 13px black;
    padding: 30px;
    background: black;
}
.resultContent{
    margin: -150px auto 0 auto;
    max-width: 80%;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 20px 13px black;
    padding: 30px;
    background: black;
    overflow: auto;
}
h1 {
    font-size: 3em;
}
.label{
    font-size: 2em;
}
.text {
    width: 500px;
    background: black;
    color: white;
    border: none;
}
.text:focus{
    outline:none!important;
}
::placeholder{
    color: white;
}
.btn {
    padding: 10px 20px;
    background: white;
    border-radius: 5px;
    border: transparent;
    margin-top: 20px;
    font-family: 'VT323', monospace;
}
td , table {
    border: 1px solid white;
}
td {
    min-width: 120px;
}
table{
    table-layout:fixed;
    overflow-x: scroll;
    margin: 0 auto;
  }